body {
background: 
  linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
  url('https://images.pexels.com/photos/264636/pexels-photo-264636.jpeg'); 
  background-size: cover;
  background-position: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Jersey 20", sans-serif;

 
}

.div2 {
    background-color: rgba(254, 254, 255, 0.85);
    width: 90%; 
    max-width: 500px; 
    padding: 50px 40px;
    border-radius: 25px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

h1 {
    color: #2ECC71;
    font-size: 50px; /* Título grande */
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.1;
}

#conteiner1, #conteiner2 {
    width: 100%;
}

input[type="password"], input[type="text"] {
    width: 100% !important;
    height: 70px !important; 
    border-radius: 12px;
    border: 2px solid #ddd;
    font-family: "Jersey 20", sans-serif;
    font-size: 26px !important;
    padding: 0 20px !important;
    box-sizing: border-box !important; 
    background-color: #fafafa;
    outline: none;
}

input:focus {
    border-color: #2ECC71;
    box-shadow: 0 0 12px rgba(46, 204, 113, 0.2);
}

button {
    background-color: #2ECC71;
    color: white;
    width: 100%;
    height: 75px; 
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-family: "Jersey 20", sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    box-shadow: 0 10px 20px rgba(46, 204, 113, 0.3);
    transition: all 0.3s;
}

button:hover {
    transform: translateY(-3px);
    background-color: #27ae60;
}

.conteiner-checkbox {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    font-size: 20px;
    color: #333;
}

.lado {
    width: 25px;
    height: 25px;
    cursor: pointer;
    accent-color: #2ECC71;
    flex-shrink: 0;
}    
    /*  CELULAR */
@media (max-width: 480px) {
    .div2 {
        padding: 40px 20px;
    }
    h1 { font-size: 40px; }
    input { height: 65px; font-size: 22px; }
    button { height: 70px; font-size: 26px; }
}