* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jersey 20", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .conteiner1 {
    width: 95%; 
    max-width: 1000px;
    min-width: 320px; 
    background-color: rgb(214, 174, 174);
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    margin: 0 auto; 
}

#cabecalho {
    background-color: aqua;
    width: 100%; 
    height: auto; 
    padding: 20px 0;
}


.cabecalho {

    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px;

}

.cabecalho>h1 {
    font-size: 36px;

}


.cabecalho > a {
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  gap: 8px;           
  
    cursor: pointer;
    background:transparent;
    margin-left: 22px;

}

a >  i {
  font-size: 20px;
}




.barrabusca {
    display: flex;
    align-items: center;
    border: 4px solid #2ECC71;
    border-radius: 20px;
    width: 90%; 
    max-width: 600px; 
    height: 41px;
    margin: 10px auto; 
    background-color: white;
}


.barrabusca>input {
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 20px;
    width: 100%;


}

.barrabusca>i {
    font-size: 20px;
    margin-right: 6px;
}

#cards {
width: 100%;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;    
    justify-content: center; 
    gap: 15px;
    padding: 20px;
    margin-left: 0;
}

.card1 {
    width: 100%;
    max-width: 315px;
    height: 130px;
    background-color: #E67E22;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 8px;
    box-shadow: 3px 3px 4px 0px #00000075;
    border: 2px solid black;
    cursor: pointer;

}

.card1>.img1 {
    width: 84px;
    height: 114px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;




}

.img1>img {
    width: 83px;
    height: 95px;
    border-radius: 20px;

}

.texto1 {
       flex: 1; 
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
}

.texto1>.p1 {
    margin-bottom: 4px;
}

.texto1>.p2 {
    margin-bottom: 17px;


}

.carr1 {
    width: 100px;
    height: 108px;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    margin-bottom: 15px;
    color: white;
}



.card2 {
    width: 100%;
    max-width: 315px;
    height: 130px;
    background-color: #E67E22;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 8px;
    box-shadow: 3px 3px 4px 0px #00000075;
    border: 2px solid black;
    cursor: pointer;

}

.card2>.img1 {
    width: 84px;
    height: 114px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;




}

.img2>img {
    width: 83px;
    height: 95px;
    border-radius: 20px;

}

.card2>.texto2 {
     flex: 1; 
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
}

.texto2>.p1 {
    margin-bottom: 4px;
}

.texto2>.p2 {
    margin-bottom: 17px;


}

.card2>.carr1 {
    width: 100px;
    height: 108px;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    margin-bottom: 15px;
    color: black;

}


.card3 {
    width: 100%;
    max-width: 315px;
    height: 130px;
    background-color: #E67E22;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 8px;
    box-shadow: 3px 3px 4px 0px #00000075;
    border: 2px solid black;
    cursor: pointer;

}

.card3>.img1 {
    width: 84px;
    height: 114px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;




}

.img3>img {
    width: 83px;
    height: 95px;
    border-radius: 20px;

}

.card3>.texto3 {
        flex: 1; 
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
}

.texto3>.p1 {
    margin-bottom: 4px;
}

.texto3>.p2 {
    margin-bottom: 17px;


}

.card3>.carr1 {
    width: 100px;
    height: 108px;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    margin-bottom: 15px;

}

